/* AboutUs.css */

.about-us {
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Lato', 'sans-serif';
  }
  
  .about-us h2 {
    margin-top: -20px;
    font-size: 40px;
  }
  
  .about-us p {
    font-size: 16px;
    margin-bottom: 30px;
    margin: 20px;
    color: #555555;
  }
  
  .about-us button {
    font-size: 16px;
    margin-top: 20px;
  }
  