/* Footer.css */

.footer {
    background-color: #026b62;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Lato';
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 0;
    padding: 0;
  }
  
  .footer-links li {
    font-size: 14px;
  }
  
  .footer-links a {
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #d9dc42;
  }
  