/* ProductShowcase.css */

.product-showcase {
    text-align: center;
  }
.product-showcase h1 {
    font-size: 24px;
    color: #026b62;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .product-card img {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-card p {
    font-size: 14px;
    color: #026b62;
  }
  
  .product-card span {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 20px;
  }
  
  .product-card button {
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
  }
  
  @media (max-width: 767px) {

    .product-showcase h1 {
      font-size: 24px;
      color: #026b62;
    }

    h1 h2 h3 {
      font-size: 16px;
      color: #026b62;
    }

    .product-card {
      width: 80%;
      height: auto;
      margin: 10px;
    }
  }