body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #026b62;
    color: #026b62;
  }
  
  h1, h2, h3 {
    font-family: 'Lato', sans-serif;
  }
  
  button {
    background-color: #0b776d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }
  
  button:hover {
    background-color: #026b62;
  }